<form action="/product/edit/{{product._id}}" method="post">
    <div>
    <label for="">Ingresar nombre del producto </label>
    <input type="text" name="name" value="{{product.name}}" >
    </div>


<div>
<label for="">Ingrese descripcion del producto</label>
    <input type="text" name="desc" value="{{product.desc}}">
</div>

<div>
   <label for="">Ingrese el precio en $</label>
    <input type="number" name="price" value="{{product.price}}" >

</div>
<div>

<label for="">Ingrese la cantidad en stock</label>
    <input type="number" name="stock" value="{{product.stock}}">

</div>
    

 <button>Añadir</button>
    
</form>

