<table>
  <thead>
    <tr>
      <th>N°</th>
      <th>Nombre </th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad</th>

    </tr>
  </thead>
  <tbody>
    {{#each product}}
      <tr>
        <td>{{@index}}</td>
        <td>{{name}}</td>
        <td>{{desc}}</td>
        <td>{{price}}</td>
        <td>{{stock}}</td>
                 
          <td><a href="edit/{{_id}}">EDITAR</a>
          <a href="delete/{{_id}}">BORRAR</a></td>|
        
      </tr>

    {{/each}}

  </tbody>
</table>